/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*-----------------------------------*\
	$LAYOUT
\*-----------------------------------*/

section {
	text-align: center;
	display: block;
}

h1 {
	font-family: 'Merriweather', serif;
	font-size: 34px;
	letter-spacing: 6px;
	color: #4d4d4d;
}

h2 {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	letter-spacing: 6px;
	font-weight: 300;
	color: #999999;
	margin-top: 15px;
	margin-bottom: 30px;
}

h3 {
	font-family: 'Merriweather', serif;
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 40px;
	letter-spacing: 2px;
	color: #4d4d4d;
}

p {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	line-height: 24px;
	color: #c0713c;
}

.hero {
	background-color: #ffffff;
	height: 800px;
	padding-top: 100px;
}

.us {
	max-width: 500px;
	margin: auto;
	left: 0; right: 0;
}

.break {
	height: 250px;
	background-image: url('../images/fishtown.jpg');
	background-repeat: no-repeat;
	background-position: top center;
}

img {
	max-width: 100%;
	height: auto;
}

.more {
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 150px;
}

.btn {
  background-color: transparent;
  border: 2px solid #c0713c;
  display: inline-block;
  color: #c0713c;
  max-width: 300px;
  padding: 15px 50px;
  text-decoration: none;
  margin: auto;
  left: 0; right: 0;
  font-family: 'Merriweather', serif;
  cursor: pointer;
	font-size: 14px;
	color: #c0713c;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.btn:hover {
	background-color: #c0713c;
	color: #ffffff;
}

footer {
	background-color: #c0713c;
	height: 30px;
}