/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

html, body {
	height: 100%;
	font-family: 'Halant', serif;
	font-size: 18px;
	font-weight: 300;
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero {
	width: 100%;
	height: 600px;
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
}

.cal {
	display: inline-block;
	width: 340px;
	height: 340px;
	margin: 130px auto;
	text-align: center;
}

.emblem {
	max-height: 40px;
}

.menu {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 60px;
	padding: 20px;
	background: transparent;
	color: #fffbef;
	text-align: center;
}

h1 {
	font-size: 2.4em;
	color: #454a14;
	font-weight: 300;
}

p {
	font-size: 1.5em;
	line-height: 1.3em;
	color: #5d6325;
}

section {
	text-align: center;
	display: block;
	background-color: #fffbef;
	padding: 3em 20px;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.bb {
	background-image: url(../images/bb.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
}

.us {
	background-image: url(../images/us.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
}

.btn {
  background-color: transparent;
  border: 2px solid #c0713c;
  display: inline-block;
  color: #c0713c;
  max-width: 300px;
  padding: 15px 50px;
  text-decoration: none;
  margin: 3em auto;
  font-weight: 400;
  cursor: pointer;
	font-size: 1.4em;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.btn:hover {
	background-color: #c0713c;
	color: #ffffff;
}

footer {
	background-color: #454a14;
	padding: 20px;
	text-align: center;
}

.mysite {
	text-decoration: none;
	color: #fffbef;
	 -webkit-transition: all 0.4s ease;
 	 -moz-transition: all 0.4s ease;
 	 -o-transition: all 0.4s ease;
}

.mysite:hover {
	color: #c0713c;
}

@media screen and (max-width: 640px) {

html, body {
	font-size: 12px;
}

}